body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.weather-app-wrap {
  max-width: 75%;
  min-width: 872px;
  margin: 30px auto;
}
.weather-app {
  padding: 40px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/030/755/original/city-background-edite.jpg?1648902432");
  background-position: center;
  border-radius: 30px;
}
.main {
  border-radius: 10px;
  min-width: min-content;
}

.next-weather {
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 0;
  height: 150px;
  text-align: center;
  word-wrap: normal;
  min-width: 50px;
}
.today-weather {
  text-align: center;
}
h1 {
  font-size: 65px;
  font-weight: 600;
  padding-top: 15px;
  text-transform: capitalize;
}
.all-current {
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(68, 68, 68);
}
.conditions {
  font-size: 15px;
  font-weight: 600;
}
.actual-icon {
  display: flex;
  justify-content: center;
  font-size: 75px;
}

.location-btn {
  float: right;
  background-color: rgb(255, 255, 255, 0.8);
  color: rgb(68, 68, 68);
  border: rgb(68, 68, 68);
}

.next-day {
  font-size: 15px;
  padding-bottom: 5px;
}
.next-conditions {
  font-size: 13px;
}
.next-max-temp {
  font-size: 19px;
  font-weight: 450;
  padding-bottom: 0;
}
.next-min-temp {
  font-size: 15px;
  opacity: 0.9;
}
#current-temp {
  font-size: 60px;
  font-weight: 650;
  padding-top: 10px;
}
#current-temp-text {
  font-size: 13px;
  font-weight: light;
  line-height: 1px;
  padding-bottom: 30px;
  color: rgb(68, 68, 68);
}

#celsius {
  font-size: 50px;
  font-weight: 400;
  padding-top: 10px;
}

#current-conditions {
  text-transform: capitalize;
}
