body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.weather-app-wrap {
  max-width: 80%;
  min-width: 870px;
  max-height: 70%;
  margin: 20px auto;
}
.weather-app {
  padding: 30px;
  background-image: url("../images/city-background-edited.jpg");
  background-position: center;
  border-radius: 30px;
}
.main {
  border-radius: 10px;
  min-width: min-content;
}

.next-weather {
  border-radius: 35px;
  height: 140px;
  min-width: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  word-wrap: normal;
}

.today-weather {
  text-align: center;
}
h1 {
  font-size: 60px;
  font-weight: 600;
  padding-top: 15px;
  text-transform: capitalize;
}
.all-current {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(68, 68, 68);
}
.conditions {
  font-size: 15px;
  font-weight: 600;
}
.actual-icon {
  display: flex;
  justify-content: center;
  font-size: 75px;
}

.location-btn {
  float: right;
  background-color: rgb(255, 255, 255, 0.8);
  color: rgb(68, 68, 68);
  border: rgb(68, 68, 68);
}

.next-day {
  font-size: 15px;
  padding-bottom: 5px;
}
.next-conditions {
  font-size: 13px;
}
.next-max-temp {
  font-size: 19px;
  font-weight: 450;
  padding-bottom: 0;
}
.next-min-temp {
  font-size: 15px;
  opacity: 0.9;
}
#current-temp {
  font-size: 55px;
  font-weight: 650;
  padding-top: 10px;
}
#current-temp-text {
  font-size: 13px;
  font-weight: light;
  line-height: 1px;
  padding-bottom: 30px;
  color: rgb(68, 68, 68);
}

#celsius {
  font-size: 50px;
  font-weight: 400;
  padding-top: 10px;
}

#current-conditions {
  text-transform: capitalize;
}
